@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*css reset*/

*,*:before,*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Castoro', serif;
}

img {
    vertical-align: middle;
}

h1, h2 {
    font-size: 128px;
    line-height: 192px;
    letter-spacing: 15px;
}

h1 {
    margin-top: 160px;
}

h2 {
    text-align: right;
}

li {
    font-size: 24px;
    line-height: 36px;
}

.photo {
    text-align: center;
}

.contanier {
    width: 1296px;
    margin: 0 auto;
}

.about_bg {
    background: #EFEFEF;
    padding: 48px;
}

.about p {
    width: 636px;
    margin-left: auto;
    font-size: 32px;
    line-height: 48px;
}

.contact {
    width: 636px;
    margin: 80px 0 160px;
}

.title {
    border-bottom: 3px solid #AE0000;
    font-size: 40px;
    line-height: 60px;
    color: #AE0000;
}

.info {
    margin: 16px 0 32px;
}

.info li {
    margin-bottom: 8px;
}

.info a {
    color: #000;
    text-decoration: none;
}

.info a:hover {
    color: #AE0000;
}

.year {
    font-size: 20px;
    line-height: 30px;
    font-style: italic;
    color: #949494;
}

.exper {
    margin: 16px 0 24px;
}

.exper li {
    margin-bottom: 16px;
}

.footer {
    background: #000;
    padding-top: 64px;
    padding-bottom: 64px;
}

.logo {
    text-align: center;
}

.logo li {
    display: inline-block;
    margin: 0 20px;
}